.img-left {
  animation-name: border-height;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  width: 2px;
  height: 0; }

.img-right {
  animation-name: border-height;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.4);
  width: 2px;
  height: 0; }

.img-top {
  animation-name: border-width;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  width: 0;
  height: 2px; }

.img-bottom {
  animation-name: border-width;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.4);
  width: 0;
  height: 2px; }

@keyframes border-height {
  from {
    height: 0; }
  to {
    height: 100%; } }
@keyframes border-width {
  from {
    width: 0; }
  to {
    width: 100%; } }
.titre .line-left {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 1px;
  height: 0;
  transition: height 1s; }
.titre a:hover ~ .line-left {
  height: 100%; }
.titre .line-right {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  width: 1px;
  height: 0;
  transition: height 1s; }
.titre a:hover ~ .line-right {
  height: 100%; }
.titre .line-top {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 0;
  height: 1px;
  transition: width 1s; }
.titre a:hover ~ .line-top {
  width: 100%; }
.titre .line-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  width: 0;
  height: 1px;
  transition: width 1s; }
.titre a:hover ~ .line-bottom {
  width: 100%; }

.hover-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  z-index: 2; }

.hover-left:hover ~ .img-responsive {
  transform: translateX(-10%); }

.hover-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  z-index: 2; }

.hover-right:hover ~ .img-responsive {
  transform: translateX(10%); }

.hover-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 2; }

.hover-bottom:hover ~ .img-responsive {
  transform: translateY(10%); }

.hover-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 2; }

.hover-top:hover ~ .img-responsive {
  transform: translateY(-10%); }

.menu {
  text-align: center;
  border-top: solid 1px #888;
  border-bottom: solid 1px #888;
  margin-top: 0.8em;
  margin-bottom: 100px;
  background-color: rgba(50, 50, 50, 0.3);
  animation-name: menu-anim;
  animation-duration: 3s; }
@media (max-width: 768px) {
  .menu {
    text-align: left;
    padding-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%; } }
.menu .bouton {
  background-color: black;
  border-top: none;
  border-bottom: none;
  border-left: solid 1px #888;
  border-right: solid 1px #888;
  opacity: 0.5;
  transition: opacity 0.5s, text-shadow 0.7s; }
.menu .bouton .dropdown {
  position: relative;
  display: inline-block; }
.menu .bouton .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 160px;
  border: solid 1px rgba(255, 255, 255, 0.3); }
@media (max-width: 768px) {
  .menu .bouton .dropdown .dropdown-content {
    position: relative; } }
.menu .bouton .dropdown .dropdown-content a {
  display: block;
  text-align: justify;
  padding: 0 5px;
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.9em;
  transition: color 0.3s; }
.menu .bouton .dropdown .dropdown-content a:hover {
  color: rgba(255, 255, 255, 0.7); }
.menu .bouton .dropdown:hover .dropdown-content {
  display: block; }
.menu .bouton a {
  font-family: "Cinzel", serif;
  font-size: 1.8em;
  color: white; }
@media (max-width: 768px) {
  .menu .bouton a {
    font-size: 1.2em; } }
.menu .bouton a:hover, .menu .bouton a:visited {
  text-decoration: none; }
.menu .bouton:hover {
  opacity: 1; }

body {
  background: url("../media/background.jpg");
  background-size: cover;
  position: relative; }

html {
  margin: 0;
  padding: 0; }

header {
  margin-top: 10px; }
header .img-wrap {
  display: inline-block;
  clear: both;
  position: relative;
  width: 70%;
  overflow: hidden; }
@media (max-width: 768px) {
  header .img-wrap {
    width: 90%; } }
header .img-wrap .img-responsive {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  animation-name: init;
  animation-duration: 4s;
  animation-timing-function: linear;
  padding: 0;
  transition: transform 0.5s; }
header .titre {
  position: relative;
  margin-top: 10px;
  padding: 0 10px;
  opacity: 0;
  display: inline-block;
  color: white;
  font-family: "Cinzel", serif;
  font-size: 5em;
  animation-name: title;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards; }
@media (max-width: 768px) {
  header .titre {
    font-size: 3em; } }
header .titre a {
  color: rgba(255, 255, 255, 0.9);
  opacity: 0.6;
  transition: padding 1s, opacity 1s, color 1.5s; }
header .titre a:hover, header .titre a:visited {
  color: white;
  text-decoration: none;
  opacity: 1;
  text-shadow: 0 0 3px white; }

@keyframes init {
  from {
    opacity: 0; }
  70% {
    opacity: 0;
    transform: scale(0.1, 0.1); }
  to {
    opacity: 1;
    transform: scale(1, 1); } }
@keyframes title {
  from {
    transform: translate3d(0, -200%, 0); }
  to {
    transform: none;
    opacity: 0.7; } }

/*# sourceMappingURL=main.css.map */
