.menu
  text-align: center
  font-family: $font1
  font-size: 1.8em
  border-top: solid 1px #888
  border-bottom: solid 1px #888
  margin  : 15px 0
  background-color: rgba(180,180,220,0.2)
  @media (max-width: 768px)
    text-align: left
  .bouton
    color: white
    background-color: black
    border-left: solid 1px #888
    border-right: solid 1px #888
    opacity: 0.5
    transition: opacity 0.5s
  .bouton:hover
    opacity: 1
