@import 'border-image'
@import 'border-titre'
@import 'hover-image'

$font1: 'Cinzel', serif

html
  margin: 0
  padding: 0

body
  background: linear-gradient(black,#181821)

header
  margin-top: 10px
  text-align: center
  .img-wrap
    width: 70%
    display: inline-block
    clear: both
    position: relative
    overflow: hidden
    .img-responsive
      position: relative
      margin-left: auto
      margin-right: auto
      animation-name: init
      animation-duration: 2s
      animation-timing-function: linear
      animation-fill-mode: forwards
      padding: 0
      transition: transform 0.5s

  .titre
    position: relative
    margin-top: 10px
    padding: 0 10px
    opacity: 0
    display: inline-block
    color: white
    font-family: $font1
    font-size: 5em
    animation-name: title
    animation-delay: 2.5s
    animation-duration: 2s
    animation-fill-mode: forwards
    a
      color: white
      opacity: 0.7
      transition: padding 1s, opacity 1s
    a:hover, a:visited
      color: white
      text-decoration: none
      opacity: 1

@keyframes init
  from
    opacity: 0
  50%
    opacity: 0
  to
    opacity: 1

@keyframes title
  from
    transform: translate3d(0,-200%,0)
  to
    transform: none
    opacity: 0.7
