$font1: 'Cinzel', serif

@import 'border-image'
@import 'border-titre'
@import 'hover-image'
@import 'menu'



html
  margin: 0
  padding: 0

body
  background: url('../media/background.jpg')
  background-size: cover
  //background: linear-gradient(black,#181821)

header
  margin-top: 10px
  text-align: center
  .img-wrap
    width: 70%
    display: inline-block
    clear: both
    position: relative
    overflow: hidden
    @media (max-width: 768px)
      width: 90%
    .img-responsive
      position: relative
      margin-left: auto
      margin-right: auto
      animation-name: init
      animation-duration: 2s
      animation-timing-function: linear
      animation-fill-mode: forwards
      padding: 0
      transition: transform 0.5s

  .titre
    position: relative
    margin-top: 10px
    padding: 0 10px
    opacity: 0
    display: inline-block
    color: white
    font-family: $font1
    font-size: 5em
    animation-name: title
    animation-delay: 2.5s
    animation-duration: 2s
    animation-fill-mode: forwards
    @media (max-width: 768px)
      font-size: 3em
    a
      color: rgba(255,255,255,0.9)
      opacity: 0.6
      transition: padding 1s, opacity 1s, color 1.5s
    a:hover, a:visited
      color: white
      text-decoration: none
      opacity: 1
      text-shadow: 0 0 3px white

@keyframes init
  from
    opacity: 0
  50%
    opacity: 0
  to
    opacity: 1

@keyframes title
  from
    transform: translate3d(0,-200%,0)
  to
    transform: none
    opacity: 0.7

.lien-fb
  transform: scale(0.8,0.8)
  margin-top: 150px
